html 
    head 
        title Rahavard Form 
    body 
        h1  <em>Welcome to Rahavard Company!</em> 
        h3  <em>We are proud that you choose us </em>
        h4  Enter your Phone Number
        form(action="/login"  method ="POST")
            div
                label(for="phone") Phone Number : 
                input(type="text" name="phone")
            br
            div 
                button(type="submit") Send 