html 
    head 
        title Rahavard Form 
    body 
        br 
        form(action="/signUp/code"  method ="POST")
            div 
                p We sent a code to your phone number
                label(for="code") Code : 
                input(type="number" , name="code")
            br
            div 
                button(type="submit") Send 
