html 
    head 
        title Form Tester 
    body 
        form(action="/" , method="POST")
            div 
                label(for='name') Name : 
                input(name='name' )
            br
            div 
                label(for="message") Message : 
                input(name="MESSAGE" )
            br 
            
            button(type="submit") Send my greetings

