html 
    head 
        title Rahavard Form 
    body 
        h1  <em>Welcome to Rahavard Company!</em> 
        h3  <em>We are proud that you choose us </em>
        form(action="/factor"  method ="POST")
            div
                label(for="factor") Factor Name : 
                input(type="text" name="factor")
            br
            div 
                label(for="seller") Seller : 
                input(type="text" name="seller")
            br
            div 
                label(for="buyer") Buyer : 
                input(type="text" name="buyer")
            br
            button(type="submit") Send         
